<!-- resources/templates/nom-entité_create.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="UTF-8">
    <title>liste personnes</title>
</head>

<body>
    <header>
        <nav>
            <a href="http://localhost:8080/person">Person</a>
            <a href="http://localhost:8080/species">Species</a>
            <a href="http://localhost:8080/animal">Animal</a>
        </nav>
    </header>
    <h1>voici la liste</h1>
    <div th:each="person : ${person}" id="liste">
        <div id="conteneur">
            <h3></h3>
            <div th:text="${person.getId}"></div>
            <div th:text="${person.getFirstname}"></div>
            <div th:text="${person.getLastname}"></div>
            <div th:text="${person.getAge}"></div>
            <div>
                <a th:href="@{'/person/'+${person.getId}}">📝</a>
            </div>
            <div>
                <a th:href="@{'/person/delete/'+${person.getId}}" onclick="confirm('Êtes-vous sûr ?')"  >🗑️
                </a>
            </div>
        </div>
    </div>
    <div>
        <button type="button" onclick="window.location='/person/create'">➕ Ajouter une personne</button>
    </div>
    <footer>

    </footer>
</body>

</html>